.card {
    max-width: 350px;
    padding: 5px;
    border: 2px solid #fdc52c;
    border-radius: 10px;
    background: linear-gradient(90deg,#cd122d,#154284);
    cursor: pointer;
}
.aboutPlayerDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.img {
    max-width: 200px;
    width: 40%;
    height: 250px;

}
.info {
    width: 60%;
    padding-left: 10px;
}
.name {
    font-family: 'FCBarcelona';
    font-size: 24px;
    text-align: center;
    color: white;
    letter-spacing: 0.05em;
    font-weight: 400;
}
.number {
    font-family: 'FCBarcelona';
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    color: #fdc52c;
    
}
.position, .age, .price {
    color: white;
    text-align: start;
    font-size: 18px;
}