.header, .headerSpecial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header {
    background: linear-gradient(90deg,#cd122d 0,#154284);
}
.headerSpecial {
    background: #fdc52c;
}
.logo, .logoSpecial {
    font-family: 'FCBarcelona';
    display: flex;
    font-size: 40px;
    cursor: pointer;
    align-items: center;
}
.logo {
    color: #fdc52c;
}
.logoSpecial {
    color: #121121;
}
.logoImg {
    max-width: 50px;
    margin-right: 10px;
}
.navList {
    display: flex;

}
.navItem, .navItemSpecial {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.navItem:last-child, .navItemSpecial:last-child {
    margin-right: 0;
}
.navItem {
    background-color: #fdc52c;
    color: #121121;
    border: 1px solid #fdc52c;
}
.navItemSpecial {
    background-color: #121121;
    color: #fdc52c;
    border: 1px solid #121121;
}
.avatar {
    display: inline-block;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #fdc52c;
    border-radius: 25px;
    background-color: #cd122d;
    font-size: 30px;
    line-height: 50px;
    font-family: 'FCBarcelona';
}