@font-face {
	font-family: 'FCBarcelona';
  font-display: swap;
  font-weight: 400;
	src: url(../src/fonts/7fonts.ru_barselona.ttf)
}
* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #221f58;
}
button {
  cursor: pointer;
}
.gridContainer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.container {
  padding: 20px;
}
.pageTitle {
  color: white;
  text-align: left;
  font-weight: normal;
  margin-bottom: 20px;
}
